body {
  text-align: center;
  background-color: rgb(220, 220, 220);
}

a {
  color: black;
}

a:hover {
  color: rgb(50, 50, 50);
}

.alignItems {
}

@media (min-width: 500px) {
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
